<div class="column is-10 is-offset-2">
  <div class="columns">
    <div class="column is-3">
      <h1><strong> <p class="subtitle"><span class="f4 has-text-grey">Total: </span>R$ 0,00</p></strong><h1><br>     
    </div>
    <div class="column is-7">
      <h4 class="subtitle">Seu Carrinho</h4>
      <p>Está Vazio</p>
    </div>
  </div>
</div>
