<section class="container">
  <div class="columns is-vcentered is-touch"> 
    <div class="column has-text-centered">
      <h2 class="subtitle">Indicação<h2>
      <iframe width="560" height="580" src="https://app.pipefy.com/public_form/301462383?embedded=true" frameborder="0"></iframe>
    </div>
    <div class="column has-text-centered">
      <h2 class="subtitle">Como podemos te ajudar?<h2>
      <iframe width="560" height="580" src="https://app.pipefy.com/public_form/301462370?embedded=true" frameborder="0"></iframe>
    </div>
</section>
